<!DOCTYPE html>
<html>
    <body>
	{% if sightings %}
        <h1>
		All Squirrel Sightings in Central Park
	</h1>

	<a href = "/tracker/sightings/add/"><input type = "button" value = "Add Sighting"/></a>
        <a href = "/tracker/sightings/stats/"><input type = "button" value = "General Stats"/></a>
        <a href = "/tracker/map/"><input type = "button" value = "See Map"/></a>

        <ul>
		{% for squirrel in sightings %}
		<li>
			<a href = "/tracker/sightings/{{ squirrel.unique_squirrel_ID }}">{{ squirrel.unique_squirrel_ID }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>
	        No squirrel data available.
	</p>
	{% endif %}
    </body>
</html>
